@model SuperheroCreator.Models.Person

@{
    ViewBag.Title = "Delete";
}

<h2>Retire A Super Hero</h2>

<h3>This super hero is washed up. It's time to retire a super hero.</h3>
<div>
    <h4>Super Hero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.superHeroName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.superHeroName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primaryAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primaryAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondaryAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondaryAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catchPhrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catchPhrase)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
